body {
  background-color: #fff9e3;
  /* สีพื้นหลัง */
  font-family: 'TH SarabunPSK', sans-serif;
  display: grid;
  justify-content: center;
  align-items: center;
  height: 100vh;
  overflow: hidden;
  overflow-y: auto; /* Enable vertical scrolling */
  min-height: 150vh;
}

.container {
  text-align: center;
  position: relative;
}

.logo {
  font-size: 100px;
  color: #f1aa3e;
  margin: 20px 0;
  font-family: 'Cinzel Decorative', serif;
}

.logopage {
  font-size: 10px;
  color: #f1aa3e;
  font-family: 'Cinzel Decorative', serif;
  z-index: 1000; 
  max-width: 1536px;
  margin-left: auto;
  margin-right: auto;
  padding-left: 0rem;
  padding-right: 0rem;
  position: absolute;
  display: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
}

.logopageday {
  font-size: 10px;
  color: #f1aa3e;
  font-family: 'Cinzel Decorative', serif;
  top: 2px;
  position: absolute;
  display: flex-end;
  background-size: contain;
  background-repeat: no-repeat;
}


button {
  background-color: #006953;
  /* สีพื้นหลังปุ่ม */
  color: white;
  padding: 15px 30px;
  font-size: 30px;
  text-decoration: none;
  border-radius: 10px;
  display: inline-block;
  margin-top: 20px;
  font-family: 'TH SarabunPSK', sans-serif;
  border: white;
}

button span {
  margin-left: 10px;
}

button:hover {
  background-color: #005342;
}

.flower-bottom-left,
.flower-top-right {
  background-image: url('/Pictures/thai-pattern.png');
  position: absolute;
  background-size: contain;
  background-repeat: no-repeat;
  position: fixed;
}

.flower-bottom-left {
  aspect-ratio: 1.18;
  object-fit: contain;
  object-position: center;
  width: 500px;
  max-width: 100%;
  position: absolute;
  bottom: -100px;
  left: -180px;
  margin: 10px;
  position: fixed;
}

.flower-top-right {
  aspect-ratio: 1.18;
  object-fit: contain;
  object-position: center;
  width: 500px;
  max-width: 100%;
  position: absolute;
  top: -100px;
  right: -250px;
  margin: 10px;
  position: fixed;
}

.plain-link {
  color: inherit;      
  text-decoration: none; 
  cursor: pointer; 
}

.plain-link:hover {
  color:#005342;
}

.text:hover{
  color:#005342;
}

.greettext:hover{
  color:#005342;
}

.days-menu {
  position: absolute;
  top: 25px;
  left: 150px;
  display: flex; 
  font-size: 25px;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  color: #EEA31F;
}

.greettext{
  margin-left: 450px;
  margin-top: 0px;
  font-size: 40px;
}

.day-options {
  position: absolute; 
  top: 100px; 
  left: 100px; 
  font-size: 10px;
  background-color: white;
  color: #EEA31F;
  width: 125px;
  height: 300px;
  border-radius: 5px;
  box-shadow: 0 2px 5px rgba(0, 0, 0, 0.2); 
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
  margin-left: 425px;
  margin-top: -40px;
}

.table {
  border: 1px solid lightgray; 
  border-radius: 8px; 
  overflow: hidden;
  font-family: 'IBM Plex Sans Thai Looped', sans-serif;
}

.table th,
.table td {
  border: 1px solid lightgray;
  padding: 10px; 
  text-align: center;
  font-size: 10px;
}

.image-day{
  top: 130px; 
  right: 1000px; 
  display: flex;
  align-items: center;
  z-index: 1000; 
  
}

.color-swatch-container {
  
  display: grid;
  grid-template-columns: repeat(2, 1fr); /* Creates 2 equal columns */
  gap: 10px;
  padding: 20px;
  margin-left: 500px;
  margin-right: 200px;
  margin-top: 10px;
  font-size: 20px;
}

.color-swatch {
  display: flex;
  align-items: center;
  justify-content: flex-end; /* Aligns content within each item to the right */
  background-color: white;
  border-radius: 10px;
  padding: 5px;
}

.circle {
  width: 60px;
  height: 60px;
  border-radius: 50%;
  margin-left: 20px; /* Adds spacing to the left of the circle */
  margin-right: 20px;
  background-color: #DCC169;
  border: 2px solid black;
}

.text2 {
  font-size: 20px;
  text-align: right; /* Aligns text to the right */
}

.text p {
  margin: 15px;
  color: #555;
}

.text p:first-child {
  font-weight: bold;
}

.textday p {
  margin: 15px;
  color: #555;
}

.textday p:first-child {
  font-weight: bold;
}

.credit{
  color: #EEA31F;
  font-size: 30px;
  margin-left: 500px;
}

.comment-section button {
  font-size: 13px;
  max-width: 250px;  
  min-width: 100px;  
  padding: 10px;
  background-color:cadetblue;
}

.comments-list{
background-color:white;
max-width: 200px;  
min-width: 90px;
}

@media (max-width: 1536px){
  /*Classname*/
  .logopage,
  .flower-bottom-left,
  .flower-top-right{
  max-width: 1280px;
}
}

/*xl*/
@media (max-width: 1280px){
  .logopage,
  .flower-bottom-left,
  .flower-top-right{
     max-width: 1024px;
  }
 }

/*lg*/
@media (max-width: 1024px){
  .logopage,
  .flower-bottom-left,
  .flower-top-right{
     max-width: 786px;
  }
 }

 /*md*/
@media (max-width: 786px){
  .logopage,
  .flower-bottom-left,
  .flower-top-right{
     max-width: 640px;
  }
 }
 /*2xl*/
@media (max-width: 640px){
  .logopage,
  .flower-bottom-left,
  .flower-top-right{
     max-width: 475px;
  }
 }